<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.matias.cogui">

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:name="com.matias.cogui.common.MyApplication"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:ignore="AllowBackup,GoogleAppIndexingWarning">

		<!-- Splash Activity -->
		<activity
			android:name="com.matias.cogui.screens.splash.SplashActivity"
			android:theme="@style/NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<!-- Validate Credentials Activity -->
		<activity
			android:name="com.matias.cogui.screens.registerphone.RegisterPhoneActivity"
			android:theme="@style/NoActionBar" />

		<!-- Choose Country Activity -->
		<activity
			android:name="com.matias.cogui.screens.choosecountry.ChooseCountryActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.matias.cogui.screens.registerphone.RegisterPhoneActivity" />
		</activity>
	</application>

</manifest>